.brends-mobile {
  width: 320px;
  background: $bg-gray;
  margin-bottom: 16px;
  overflow: hidden;

  // .brends-mobile__content
  // &__content {
  //   margin-left: $margin;
  // }
}

.swiper-container {
  width: 320px;
  height: 234px;
  margin: 0 !important;
  overflow: hidden;
}
.swiper-slide {
  width: 240px !important;
  margin-top: 16px;
  margin-right: 16px;
}
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  display: inline-block;
  border-radius: 100%;
  background: #dddddd !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background: #b5b6bc !important;
}
