.feedback {
  display: flex;
  flex-direction: column;
  // .feedback__form
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: cebter;
    align-self: center;
    // align-items: center;
    margin-top: 24px;
    width: 376px;
  }
  // .feedback__input
  &__input {
    display: block;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    height: 48px;
    width: auto;
    margin-bottom: 16px;
    text-indent: 16px;
  }
  // .feedback__submit
  &__submit{
    align-self: flex-end;
  }
  // .feedback__color-text
  &__color-text {
    color: $washed-rose;
  }

  // .feedback__agree
  &__agree {
    margin-bottom: 19px;
  }
}
.title {
  // .title__text
  &__text {
  }
}
.title-box {
  // .title-box__left
  &__left {
  }
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  height: 940px;
  width: 440px;
  background: white;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
}
