.prices {
  margin-bottom: 50px;
  box-sizing: content-box;
  // .prices__container
  &__container {
  }
  &__top-row {
    padding: 0 24px;
    height: 64px;
    color: $font_gray;
    @media screen and (max-width: $lg) and (min-width: $sm) {
      padding: 0 16px;
    }
    & .order-btn {
      opacity: 0;
    }
  }
  // .prices__items
  &__items {
    list-style: none;
    margin: 0;
    background: white;
    border-radius: 6px; //planshet
    margin-bottom: 20px;

    padding: 0 24px;
    @media screen and (max-width: $lg) and (min-width: $sm) {
      padding: 0 16px;
    }
  }
  // .prices__item
  &__item {
    height: 64px;
    border-bottom: 1px solid $brd-btm;
    &:last-child {
      border-bottom: 0;
    }
    &--title-row {
      background: $bg-gray;
      color: $font_gray;
      margin: 0 -24px;
      padding: 0 23px;
      @media screen and (max-width: $lg) and (min-width: $sm) {
        margin: 0 -16px;
        padding: 0 16px;
      }
    }
    &--title-row .order-btn {
      opacity: 0;
    }
  }
}

.service {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  font-weight: 500;
  // .service__title
  &__title {
    min-width: 390px;
    &:hover {
      text-decoration: underline;
    }
  }
  // .service__cost
  &__cost {
    min-width: 85px;
  }
  // .service__time
  &__time {
    min-width: 90px;
  }
}
.order-btn {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 12px;
  box-sizing: border-box;
  color: #fff;
  width: 120px;
  height: 32px;
  background: #ff3e79;
  border-radius: 16px;
  text-decoration: none !important;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;

  &:hover {
    filter: brightness(0.8);
  }

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 16px;
    height: 8px;
    width: 8px;
    box-sizing: border-box;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
  }
}
.price-slide {
  position: relative;
  height: 200px;
  width: 260px;
  padding: 16px;
  background: white;
  border-radius: 6px;

  // .price-slide__title
  &__title {
    color: $font_gray;
    margin-bottom: 4px;
  }

  // .price-slide__item
  &__item {
    margin-bottom: 16px;
  }

  // .price-slide__btn
  &__btn {
    position: absolute;
    right: 5px;
    bottom: 16px;
  }
}
